

*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family:'Young Serif',serif;
	background: rgb(203,221,221);
}
/*Inicia los estilos header*/
.menu{
	background: #08A5F3 ;
}
.menu ul{
	list-style: none;
}
.menu ul li{
	display: inline-block;
	padding: 5px 5px;
	margin: 8px;
	padding-left: 7%;
	padding-bottom: 8px;
}
.menu ul li a{
	font-size: 16px;
	text-decoration: blink;
	text-shadow: 7px;
	background: #08A5F3;
	padding: 17px 57px 17px 57px;
	font-weight: bold;
}
/*fin de los estilos de header*/
main{
	color: #00f;
	margin: 25px;
	min-height: 80vh;
	font-size: 16px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenedor-main img{
	width: 50%;
	height: 50%;
	display: block;
	margin: 0 auto;
}
.contenedor-main h1{
	color: red ;
	margin: 5px
}
.contenedor-main h2{
	color: #B1361B ;
	margin: 5px;
	font-size: 25px;
}
.contenedor-main li span{
	color: #086C1D ;
	margin: 4px;
	font-size: 15px;
}
.contenedor-main h2 span{
	width: 20px;
	color: white;
	font-weight: bold;
	background-color: #6b6060;
}
